.button {
    border: none;
    background-color: transparent;
    appearance: none;
    

    &__text {
        font-family: var(--font-accent);
        font-weight: var(--font-weight-accent);
        font-size: 14px;
        line-height: 90%;
    }
}