:root.theme-light {
  /* светлая по умолчанию */
  --color-main: rgba(0, 0, 0, 1);
  --color-font: rgba(0, 0, 0, 1);
  --color-background: rgba(255, 255, 255, 1);
  --color-shadow-label: rgba(255, 255, 255, 1);

  --color-btn-bg-def: rgba(255, 255, 255, 1);
  --color-btn-text-def: rgba(255, 255, 255, 1);
  --color-btn-icon-def: rgba(255, 255, 255, 1);

  --color-icon-contour: rgba(0, 0, 0, 1);
  --color-icon-sparks: rgba(255, 0, 0, 1);
  --color-animation-fill: rgba(255, 0, 0, 1);

  --color-floppy: rgba(255, 255, 255, 1);

  --background-image-gradient:
    repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);

  --block-border-color: rgba(0, 0, 0, 1);

  --btn-main-color: rgba(0, 0, 0, 1);
  --btn-shadow-color: rgba(0, 0, 0, 1);

  --btn-border-def: rgba(0, 0, 0, 1);
  --btn-bg-def: rgba(255, 255, 255, 1);
  --btn-bg-hover: rgba(0, 0, 0, 1);

  --btn-icon-border-def: rgba(0, 0, 0, 1);
  --btn-icon-border-hover: rgba(255, 255, 255, 1);
  --btn-icon-bg-def: rgba(0, 0, 0, 1);
  --btn-icon-bg-hover: rgba(255, 255, 255, 1);
}

:root.theme-auto {
  /* светлая по умолчанию */
  --color-main: rgba(0, 0, 0, 1);
  --color-font: rgba(0, 0, 0, 1);
  --color-background: rgba(255, 255, 255, 1);
  --color-shadow-label: rgba(255, 255, 255, 1);

  --color-btn-bg-def: rgba(255, 255, 255, 1);
  --color-btn-text-def: rgba(255, 255, 255, 1);
  --color-btn-icon-def: rgba(255, 255, 255, 1);

  --color-icon-contour: rgba(0, 0, 0, 1);
  --color-icon-sparks: rgba(255, 0, 0, 1);
  --color-animation-fill: rgba(255, 0, 0, 1);

  --color-floppy: rgba(255, 255, 255, 1);

  --background-image-gradient:
    repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);

  --block-border-color: rgba(0, 0, 0, 1);

  --btn-main-color: rgba(0, 0, 0, 1);
  --btn-shadow-color: rgba(0, 0, 0, 1);

  --btn-border-def: rgba(0, 0, 0, 1);
  --btn-bg-def: rgba(255, 255, 255, 1);
  --btn-bg-hover: rgba(0, 0, 0, 1);

  --btn-icon-border-def: rgba(0, 0, 0, 1);
  --btn-icon-border-hover: rgba(255, 255, 255, 1);
  --btn-icon-bg-def: rgba(0, 0, 0, 1);
  --btn-icon-bg-hover: rgba(255, 255, 255, 1);
}

:root.theme-dark {
  --color-main: rgba(255, 255, 255, 1);
  --color-font: rgba(255, 255, 255, 1);
  --color-background: rgba(0, 0, 0, 1);
  --color-shadow-label: rgba(0, 0, 0, 1);

  --color-btn-bg-def: rgba(0, 0, 0, 1);
  --color-btn-text-def: rgba(255, 255, 255, 1);
  --color-btn-icon-def: rgba(0, 0, 0, 1);

  --color-icon-contour: rgba(255, 255, 255, 1);
  --color-icon-sparks: rgba(255, 0, 0, 1);
  --color-animation-fill: rgba(255, 0, 0, 1);

  --color-floppy: rgba(255, 255, 255, 1);

  --background-image-gradient:
    repeating-linear-gradient(#000 0 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, #000 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #1a1a1a 0.01%, #000 100%);

  --block-border-color: rgba(255, 255, 255, 1);

  --btn-main-color: rgba(255, 255, 255, 1);
  --btn-shadow-color: rgba(255, 255, 255, 1);

  --btn-border-def: rgba(255, 255, 255, 1);
  --btn-bg-def: rgba(0, 0, 0, 1);
  --btn-bg-hover: rgba(255, 255, 255, 1);

  --btn-icon-border-def: rgba(255, 255, 255, 1);
  --btn-icon-border-hover: rgba(0, 0, 0, 1);
  --btn-icon-bg-def: rgba(255, 255, 255, 1);
  --btn-icon-bg-hover: rgba(0, 0, 0, 1);
}

@media (prefers-color-scheme: dark) {
  :root.theme-auto {
    --color-main: rgba(255, 255, 255, 1);
    --color-font: rgba(255, 255, 255, 1);
    --color-background: rgba(0, 0, 0, 1);
    --color-shadow-label: rgba(0, 0, 0, 1);

    --color-btn-bg-def: rgba(0, 0, 0, 1);
    --color-btn-text-def: rgba(255, 255, 255, 1);
    --color-btn-icon-def: rgba(0, 0, 0, 1);

    --color-icon-contour: rgba(255, 255, 255, 1);
    --color-icon-sparks: rgba(255, 0, 0, 1);
    --color-animation-fill: rgba(255, 0, 0, 1);

    --color-floppy: rgba(255, 255, 255, 1);

    --background-image-gradient:
      repeating-linear-gradient(#000 0 2px, transparent 2px 4px),
      repeating-linear-gradient(90deg, #000 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #1a1a1a 0.01%, #000 100%);

    --block-border-color: rgba(255, 255, 255, 1);

    --btn-main-color: rgba(255, 255, 255, 1);
    --btn-shadow-color: rgba(255, 255, 255, 1);

    --btn-border-def: rgba(255, 255, 255, 1);
    --btn-bg-def: rgba(0, 0, 0, 1);
    --btn-bg-hover: rgba(255, 255, 255, 1);

    --btn-icon-border-def: rgba(255, 255, 255, 1);
    --btn-icon-border-hover: rgba(0, 0, 0, 1);
    --btn-icon-bg-def: rgba(255, 255, 255, 1);
    --btn-icon-bg-hover: rgba(0, 0, 0, 1);
  }
}
