.footer {
    @include grid-center-center;

     &__button {
        border: var(--block-border);
        display: flex;
        gap: 8px;
        padding: 17px 18px;
        background-color: var(--color-background);
        block-size: 55px;
        max-inline-size: 335px;
        margin-bottom: 100px;
        align-items: center;
     }

     &__icon {
        block-size: 21px;
        inline-size: 21px;
        display: block;
        fill: #000; 
        flex-shrink: 0;
     }
}

@media (width <= 375px) {
   .footer {
      &__button {
      flex-direction: column;
      block-size: 84px;
      gap: 8px;
      }

      &__icon {
         block-size: 28px;
         inline-size: 28px;
      }
   }
   
}