.header {
  @include grid-center-center;
  inline-size: var(--container-width);
  margin-inline: auto;
  margin-block-start: 100px;
  margin-block-end: 45px;
  padding: var(--padding-header);
  background-color: var(--color-background);
  border: var(--block-border);
  position: relative;
}

@media (width <= 376px) {
  .header {
    margin-block-end: 50px;
  }
}
