.header {
    @include grid-center-center;
    inline-size: var(--container-width);
    margin: 100px auto 45px;
    padding: var(--padding-header);
    background-color: var(--color-background);
    border: var(--block-border);
}