.header {
    inline-size: var(--container-width);
    margin: 100px auto;
    padding: 130px 122.5px;
    display: grid;
    place-items: center;

    outline: 1px solid red;
    background-color: var(--color-background);

    
}